body{
    background-color: turquoise;    
}
.bird-head{
    position: absolute;
    bottom:0;
    background-color: black;
    height: 300px;
    width:300px;
    border-radius: 20% 20% 0 0;
}
.bird-eye{
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    top:70px;
    
}
.bird-beak{
    position: absolute;
    top:90px;
    right:-40px;
    background-color: rgb(255, 255, 40);
    height: 80px;
    width:80px;
    transform: rotate(45deg);
    z-index: -1;
}
.justify-center{
    display:flex;
    flex-direction: row;
    justify-content: center;
}